<!DOCTYPE html>
<html>
	<head>
		<title>Solar Installations Dashboard</title>
		<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
		<link rel="stylesheet" href="../static/style/style.css" />
	</head>
	<body>
		<div id="map" style="height: 100vh"></div>
		<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.8.0/proj4.js"></script>
		<script src="https://unpkg.com/proj4leaflet"></script>

		<script src="/static/js/map.js"></script>
		<css
	</body>
</html>
